DATABASE_URL="postgres://user:password@endpoint-pooler.region.neon.tech/neondb?sslmode=require"
NEXT_PUBLIC_APP_URL="http://localhost:3004"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
RESEND_API_KEY="re_..."
